{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<style>
    body{
        height: 100vh;
        background-image: url('https://images.unsplash.com/photo-1604526319196-33a39648792f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=626&q=80');
        background-size: cover;
    }
    .alert-danger ul {
        list-style: none;
        padding-left: 0;
    }
</style>
{% endblock css %}

{% block headjs %}
<script src="https://js.stripe.com/v3/"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock headjs %}

{% block content %}
<div class="container">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_payments' %}">Payments</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Payment</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->
    <div class="row my-5">
        <div class="col-lg-12 col-sm-6 formarea">
            <div class="card text-dark" >
                <div class="card-body">
                    <h4 class="card-title">Select Payment Method</h4>
                    <div class="d-none" id="boarding_id">{{board.id}}</div>
                    <div class="card-title">Amount to be paid Rs. <span id="price">{{board.chargeamount}}</span></div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{form|crispy}}
                        <p id="out"></p>

                        <button  class="btn btn-primary btn-sm btn-block" id="complete">Complete Action</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script>
    $(function () {
        anime({
            targets: '.formarea',
            translateY: '-1%'
        });
        $('#id_email').val('{{request.user.email}}')
    });

    
</script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock js %}

